@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import "~font-awesome/css/font-awesome.css";

body {
  color: #3a3a3a;
  margin-bottom: 80px;
}

input {
  color: #3a3a3a;
}

footer a {
  text-decoration: none;
  color: gray;
}

a {
  color: #3a3a3a;
}

a:hover {
  color: #ffc2ce;
  text-decoration: none;
}

a.pink {
  color: #ffc2ce;
}

div.hearth {
  position: absolute; 
  top: 5px;
  right: 15px;
  font-size: 25px;
}

div.card {
  width: 18rem;
}

ngb-carousel {
  margin-bottom: 20px;
}

ngb-carousel > a {
  height: 40%;
  margin-top: 20%;
}

.carousel-item {
  height: 380px;
}

.carousel-item img {
  height: 75%;
  width: 100%;
  border-radius: 4px;
}

.carousel-indicators {
  display: none;
}

.carousel-caption {
  position: relative;
  left: 0%;
  text-align: left;
  bottom: 9px;
  color: gray;
  line-height: .3;
}

.carousel-caption h5 {
  color: black;
}

.carousel-caption i {
  font-size: 10px;
}

button {
  background: #ffc2ce;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-size: .9em;
  padding: 8px 25px;
  margin-top: 3px;
}

.button-signup {
  padding: 8px 21px;
  background: white;
  color: #ffc2ce;
  border: 1px solid #ffc2ce;
}

button:disabled {
  background: lightgray;
  color: white;
}

div.container {
  text-align: center;
}

div.login {
  width: 65%;
  margin: 40% auto;
  text-align: left;
}

div.login input {
  display: block;
  width: 100%;
  height: 2.2em;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-align: left;
  margin-bottom: 20px;
}

div.login input::placeholder {
  color: lightgray;
}

div.button-login {
  text-align: right;
  margin-bottom: 50px;
}

div.button-signup {
  text-align: center;
}

p.small {
  margin-bottom: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  padding: 0;
}

footer a {
  width: 18%;
  height: 60px;
  display: inline-block;
  font-size: 30px;
  position: relative;
  text-align: center;
  margin: 2px;
}

footer .links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
}

footer span.icon-text {
  margin-top: 15px;
  font-size: 14px;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: #ffc2ce;
  color: white;
  border-radius: 9px;
}
.faded {
  opacity: 0.5;
}

.ngb-dp-navigation-chevron {
  color: #ffc2ce;
}

div.section {
  text-align: left;
  position: relative;
}

div.column {
  display: inline-block;
}

div.column.right {
  position: absolute;
  right: 0;
}
