agm-map {
  height: 300px;
}

.fullWidth img {
  border-radius: 0;
}

.fullWidth div.carousel-caption {
  text-align: center;
}

agm-map {
  height: 250px;
}

div.icon-container {
  text-align: center;
  margin-top: 18px;
}

.icon-container div.icon {
  display: inline-block;
  width: 15%;
  height: 50px;
  margin-left: 2px;
  font-size: .9rem;
  margin-bottom: 0;
}

hr {
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.icon i {
  font-size: 1.8rem;
  margin: 0;
  display: block;
  color: lightgray;
}

div.section {
  text-align: left;
  position: relative;
}

.section a {
  color: #f37e95;
}

div.column {
  display: inline-block;
}

div.column.right {
  position: absolute;
  right: 0;
}

div.rate {
  margin-top: 20px;
}

div.number {
  text-align: left;
  display: inline-block;
  width: 28%;
}

.number h1 {
  font-size: 4rem;
  color: #f37e95;
}

div.stars {
  display: inline-block;
  text-align: right;
  font-size: .8rem;
}

div.slide {
  display: inline-block;
  font-size: .8rem;
  width: 35%;
}

div.card {
  width: 100%;
  background: rgb(241, 241, 241);
  border: none;
}