<div *ngIf="spot" class="fullWidth">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let photo of spot.photos">
      <img src="{{photo}}" alt="Random first slide">
      <div class="carousel-caption">
        <h5> {{ spot.spotName }} </h5>
        <span *ngFor="let star of rating">
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div *ngIf="spot" class="container">

  <ngb-tabset>
    <ngb-tab title="Destacados">
      <ng-template ngbTabContent>
        <div class="icon-container">
          <div class="icon"><i class="fa fa-users" aria-hidden="true"></i>algo</div>
          <div class="icon"><i class="fa fa-btc" aria-hidden="true"></i>algo</div>
          <div class="icon"><i class="fa fa-tree" aria-hidden="true"></i>algo</div>
          <div class="icon"><i class="fa fa-bed" aria-hidden="true"></i>algo</div>
          <div class="icon"><i class="fa fa-user-secret" aria-hidden="true"></i>algo</div>
          <div class="icon"><i class="fa fa-car" aria-hidden="true"></i>algo</div>
        </div>
        <hr>
        <div class="section">
          <div class="title"><h5>Descripción</h5></div>
          <div class="description"><p>{{spot.description}}</p></div>
        </div>
        <hr>
        <div class="section">
          <div class="column"><h5>Disponibilidad</h5></div>
          <div class="column right">
            <a [routerLink]="['/', spot._id, 'calendar']">Ver calendario</a>
          </div>
        </div>
        <hr>
        <div class="section">
          <div class="column"><h5>Precios</h5></div>
          <div class="column right"><a>Ver detalles</a></div>
        </div>
        <hr>
        <div class="section">
          <div class="column"><h5>Quiero visitarla</h5></div>
          <div class="column right" *ngIf="user"><a (click)="open(content, user)">Pedir cita</a></div>
          <div class="column right not-user" *ngIf="!user">Pedir cita</div>
        </div>
        <hr>
        <div class="section">
          <div class="column"><h5>Contactar</h5></div>
          <div class="column right" *ngIf="user"><a (click)="createChat(spot.userId, user._id, spot.spotName)">Iniciar chat</a></div>
          <div class="column right not-user" *ngIf="!user">Iniciar chat</div>
        </div>
        <hr>
      
        <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom" 
                 [styles]="styles" scaleControl="false">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Instalaciones">
      <ng-template ngbTabContent>
        <div class="section">
          <ul>
            <li *ngFor="let places of spot.features.places"><h6>{{places}}</h6></li>
          </ul>
        </div>
        <hr>
        <div class="section">
          <div class="column"><h5>Condiciones de uso</h5></div>
          <div class="column right"><a>Saber más</a></div>
        </div>
        <hr>
        <div class="section">
          <div class="column"><h5>Servicios</h5></div>
          <div class="column right"><a>Ver detalle</a></div>
        </div>
        <hr>
        <div class="section">
          <div class="column"><h5>Quiero visitarla</h5></div>
          <div class="column right" *ngIf="user"><a (click)="open(content, user.email)">Pedir cita</a></div>
          <div class="column right not-user" *ngIf="!user">Pedir cita</div>
        </div>
        <hr>
        <div class="section">
          <div class="column"><h5>Contactar</h5></div>
          <div class="column right" *ngIf="user"><a (click)="createChat(spot.userId, user._id, spot.spotName)">
            Iniciar chat</a></div>
          <div class="column right not-user" *ngIf="!user">Iniciar chat</div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Opiniones">
      <ng-template ngbTabContent>
        <div class="rate">
          <div class="number">
            <h1 *ngIf="ratingGlobal">{{ratingGlobal}}</h1>
            <h6 class="rating">Sobre 5</h6>
          </div>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <br>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <br>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <br>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <br>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <div class="slide">
          </div>
          <hr>
        </div>

        <app-comments></app-comments>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <hr>

  <div class="spot-footer">
    <button [routerLink]="['/', spot._id, 'calendar']">Ver disponibilidad</button>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Mensaje enviado a {{ spot.spotName }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Le hemos enviado un correo con tus datos de contacto, pronto recibirás noticias.</p>
      </div>
    </ng-template>
  
</div>