<div *ngIf="chats" class="container">
  <div *ngIf="!modalMess">
    <h5 class="title">Mensajes</h5>
    <div *ngFor="let chat of chats" class="section">
      <div class="column photo"><img [src]="chat.spotId.photos[0]" alt=""></div>
      <div class="column middle"><b>{{ chat.spotId.spotName }}</b></div>
      <div class="column right"><a (click)="openChat(chat._id)">Ver</a></div>
      <hr>
    </div>
  </div>

  <div *ngIf="modalMess">
    <span aria-hidden="true" id="close" (click)="closeChat()">&times;</span>
    <h5 class="title">Envía tu mensaje</h5>
  </div>
</div>