<div *ngIf="comments">
  <div *ngFor="let comment of comments" class="card">
    <div class="card-body">
      <div class="title left">
        <h4 class="card-title"> {{comment.title}} </h4>
        <h6 class="card-subtitle mb-2 star">
          <span *ngIf="comment.rating === 1">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
          <span *ngIf="comment.rating === 2">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
          <span *ngIf="comment.rating === 3">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
          <span *ngIf="comment.rating === 4">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
          <span *ngIf="comment.rating === 5">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
        </h6>
      </div>
      <div class="title right">
        <h5 class="card-title"> {{comment.userId.name}} </h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{comment.createdAt | date:'MM/dd/yyyy'}} </h6>
      </div>
      <p class="card-text"> {{comment.text}} </p>
    </div>
  </div>
        

<hr>
<div *ngIf="spot" class="section">
  <div class="column"><h5>Escribir una opinion</h5></div>
  <div class="column right"><a [routerLink]="['/', spot._id, 'comment', 'create']">Mensaje</a></div>
</div>