<div *ngIf="events" class="container">
  <div class="login calendar">
    <div class="month-year">
      <h4 (click)="prevMonth()"><</h4>
      <h5> {{monthName}} {{year}} </h5>
      <h4 (click)="nextMonth()">></h4>
    </div>
    <div class="calendar-body">
      <div *ngFor="let week of thisMonth">
        <div *ngFor="let day of week" class="week">
          <div *ngIf="day.length" class="day-avai day" (click)="showEvent(day)">{{day}}</div>
          <div *ngIf="!day.length && day === 0" class="day-zero day">.</div>
          <div *ngIf="!day.length && day !== 0" class="day-not day" (click)="open(day)">{{day}}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="modalAdd" class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title">{{eventDay}} {{monthName}} {{year}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="title">
        <input type="text" #title placeholder="título">
        <div class="time-picker">
          <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
        </div>
      </div>
      <textarea name="content" id="content" #cntnt cols="35" rows="5" placeholder="texto"></textarea>
      <button type="button" (click)="addEvent(user._id, title.value, cntnt.value)">Añadir</button>
    </div>
  </div>

  <div *ngIf="modalShow" clasS="modal-container event-show">
    <div class="modal-header">
      <h4 class="modal-title">{{evntCont.day}} {{monthName}} {{year}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="title">
        <h4>{{evntCont.title}}</h4>
        <p>{{evntCont.time.hour}} : {{evntCont.time.minute}}</p>
        <p>{{evntCont.content}}</p>
      </div>
    </div>
  </div>
</div>
