h3 {
  margin-bottom: 15px;
  margin-left: 10px;
  display: block;
}

h5 {
  margin-bottom: 10px;
}

i {
  color: #3a3a3a;
}

i.gray {
  color: gray;
}

p {
  display: inline-block;
  margin-bottom: 0;
}

div.content {
  margin-top: 100px;
  text-align: left;
}

div.section-header {
  margin-bottom: 30px;
}

div.img-perfil {
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle;
}

div.img-perfil img {
  border-radius: 50%;
}

div.name-perfil {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.name-perfil p {
  color: gray;
}

div.section-profile {
  position: relative;
  height: 2.4em;
  margin: 7px 10px;
}

div.section-profile h5 {
  display: inline-block;
}

div.section-profile i {
  position: absolute;
  right: 0;
  font-size: 22px;
}

hr {
  margin: 2px;
}

button {
  position: absolute;
  right: 0;
  margin-right: 25px;
}