<div class="container">
  <div class="content">
    <h3>Perfil</h3>
    <div class="section-header">
      <div class="img-perfil">
        <img [src]="'http://localhost:3000/' + user.avatar" height="100">
      </div>
      <div class="name-perfil">
        <h5>{{ user.name }}</h5>
        <i class="fa fa-circle-o gray" aria-hidden="true"></i>
        <p>Boda 18 de mayo</p><br>
        <i class="fa fa-envelope-o gray" aria-hidden="true"></i>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <div class="section-profile">
      <h5>Información personal</h5>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <hr>
    </div>
    <div class="section-profile">
      <h5>Datos de la Boda</h5>
      <i class="fa fa-circle-o" aria-hidden="true"></i>
      <hr>
    </div>
    <div class="section-profile">
      <a [routerLink]="['edit']">
        <h5>Configuración</h5>
      </a>
      <i class="fa fa-toggle-on" aria-hidden="true"></i>
      <hr>
    </div>
    <div class="section-profile">
      <h5>Invita a tus amigos</h5>
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      <hr>
    </div>
    <div class="section-profile">
      <h5>Política de privacidad</h5>
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <hr>
    </div>
    <div class="section-profile">
      <h5>Ayuda</h5>
      <i class="fa fa-info" aria-hidden="true"></i>
      <hr>
    </div>
    <button (click)="logout()" class="button-signup"> logout </button>
  </div>
</div>
