<footer class="footer">
  <div *ngIf="user">
    <a (click)="anchor($event.target)" [routerLink]="['']" class="pink">
      <i class="fa fa-search links" aria-hidden="true"></i>
      <span class="icon-text links">Buscar</span>
    </a>
    <a (click)="anchor($event.target)" [routerLink]="['/', user._id, 'favorites']" class="gray">
        <i class="fa fa-heart-o links" aria-hidden="true"></i>
      <span class="icon-text links">Favoritos</span>
    </a>
    <a [routerLink]="" [routerLink]="" class="gray">
        <i class="fa fa-book links" aria-hidden="true"></i>
      <span class="icon-text links">Agenda</span>
    </a>
    <a (click)="anchor($event.target)" [routerLink]="['/messages']" class="gray">
      <i class="fa fa-envelope-o links" aria-hidden="true"></i>
      <span class="icon-text links">Mensajes</span>
    </a>
    <a (click)="anchor($event.target)" [routerLink]="['/profile']" class="gray">
      <i class="fa fa-user-circle-o links" aria-hidden="true"></i>
      <span class="icon-text links">Perfil</span>
    </a>
  </div>
  <div *ngIf="!user">
    <a (click)="anchor($event.target)" [routerLink]="['']" class="pink">
      <i class="fa fa-search links" aria-hidden="true"></i>
      <span class="icon-text links">Buscar</span>
    </a>
    <a class="light-gray">
        <i class="fa fa-heart-o links" aria-hidden="true"></i>
      <span class="icon-text links">Favoritos</span>
    </a>
    <a class="light-gray">
        <i class="fa fa-book links" aria-hidden="true"></i>
      <span class="icon-text links">Agenda</span>
    </a>
    <a class="light-gray">
      <i class="fa fa-envelope-o links" aria-hidden="true"></i>
      <span class="icon-text links">Mensajes</span>
    </a>
    <a (click)="specialAnchor($event.target)" [routerLink]="['/login']" class="not-user">
      <i class="fa fa-sign-in links" aria-hidden="true"></i>
      <span class="icon-text links"> Login </span>
    </a>
  </div>
</footer>