<div *ngIf="favorites" class="container">
  <div class="content">
    <h3>Favoritos</h3>
    <div *ngFor="let favorit of favorites" class="card">
      <img class="card-img-top" src="{{favorit.photos[0]}}" alt="Card image cap">
      <a (click)="deleteFromFavorites(favorit._id)">
        <i class="fa fa-heart hearth" aria-hidden="true" style="color: #ffc2ce;"></i>
      </a>
      <div class="card-body">
        <a [routerLink]="['/', favorit._id, 'view']">
          <h5 class="card-title">{{favorit.spotName}}</h5>
        </a>
        <p class="card-text">Menú desde {{favorit.features.menuPrice}}€ / px</p>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>