<app-signup [hidden]="auth.hide"></app-signup>
<button [hidden]="auth.hide" (click)="auth.showHide()"> Volver </button>

<form [hidden]="!auth.hide">
  <h3>Nuevo Emplazamiento</h3>
  <label for="userId"> Proveedor </label>
  <select [(ngModel)]="formInfo.userId"  name="userId" id="userId">
      <option *ngFor="let provider of providers" value="{{provider._id}}">
        {{ provider.name }}
      </option>
  </select>
  <button (click)="auth.showHide()" [hidden]="!auth.hide"> Nuevo Proveedor </button>
  <br>

  <label for="spotName"> Nombre del emplazamiento </label>
  <input type="text" [(ngModel)]="formInfo.spotName" name="spotName" id="spotName">
  <br>

  
  <button (click)="createSpot()"> Crear Emplazamiento </button>
</form>


<ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [dayTemplate]="t"
                [navigation]="arrows">
</ngb-datepicker>

<ng-template #t let-date="date" let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<button (click)="addDate(fromDate, toDate)"> Añadir fecha </button>
  <div *ngFor="let date of formInfo.dates">
    {{date | json}}
  </div>



