<div class="container">
  <div class="login">
    <app-signup [hidden]="auth.hide"></app-signup>
    <button [hidden]="auth.hide" (click)="auth.showHide()"> Volver </button>
    
    <form [hidden]="!auth.hide">
      <h3>Nuevo Emplazamiento</h3>
      <label for="userId"> Proveedor </label>
      <select [(ngModel)]="formInfo.userId"  name="userId" id="userId">
          <option *ngFor="let provider of providers" value="{{provider._id}}">
            {{ provider.name }}
          </option>
      </select>
      <button (click)="auth.showHide()" [hidden]="!auth.hide"> Nuevo Proveedor </button>
      <br>
    
      <label for="spotName"> Nombre del emplazamiento </label>
      <input type="text" [(ngModel)]="formInfo.spotName" name="spotName" id="spotName">
      <br>

      <label for="guest"> Máximo de invitados </label>
      <input type="number" [(ngModel)]="formInfo.guest" name="guest" id="guest">
      <br>

      <label for="menuPrice"> Precio del menú </label>
      <input type="number" [(ngModel)]="formInfo.menuPrice" name="menuPrice" id="menuPrice">
      <br>

      <label for="style"> Estilo </label>
      <select [(ngModel)]="formInfo.style"  name="style" id="style">
        <option value="Montaña"> Montaña </option>
        <option value="Ciudad"> Ciudad </option>
        <option value="Playa"> Playa </option>
        <option value="Campo"> Campo </option>
      </select>
      <br>

      <label for="place"> Lugar </label>
      <select [(ngModel)]="formInfo.place"  name="place" id="place">
        <option value="Finca"> Finca </option>
        <option value="Hotel"> Hotel </option>
        <option value="Restaurante"> Restaurante </option>
        <option value="Convento"> Convento </option>
        <option value="Castillo"> Castillo </option>
        <option value="Casa Rural"> Casa Rural </option>
        <option value="Bodega"> Bodega </option>
        <option value="Palacio"> Palacio </option>
        <option value="Otros"> Otros </option>
      </select>
      <br>

      <label for="places"> Instalaciones </label>
      <input type="text" #places name="places" id="places">
      <button (click)="addPlaces(places.value); places.value = ''"> add </button>
      <ul>
        <li *ngFor="let place of formInfo.places"> {{ place }} </li>
      </ul>
      <br>

      <label for="services"> Servicios </label>
      <input type="text" #services name="services" id="services">
      <button (click)="addServices(services.value); services.value = ''"> add </button>
      <ul>
        <li *ngFor="let service of formInfo.services"> {{ service }} </li>
      </ul>
      <br>
      
      <label for="photo"> Photos </label>
      <input type="text" #photo name="photo" id="photo">
      <button (click)="addPhoto(photo.value); photo.value = ''"> add </button>
      <ul>
        <li *ngFor="let photo of formInfo.photos"> {{ photo }} </li>
      </ul>
      <br>

      <label for="description"> Descripción </label>
      <textarea name="description"[(ngModel)]="formInfo.description" id="description" 
                cols="30" rows="5"></textarea>
      <br>
    
      <label for="city"> Calle </label>
      <input type="text" #street>
      
      <label for="city"> Población </label>
      <input type="text" #country>
    
      <label for="city"> Ciudad </label>
      <input type="text" #city>
    
      <button (click)="addSpot(street.value, country.value, city.value)"> Crear Emplazamiento </button>
    </form>
    <br>
    
    
    <div [hidden]="!auth.hide">
      <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [dayTemplate]="t"
                      [navigation]="arrows">
      </ngb-datepicker>
      
      <ng-template #t let-date="date" let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
      </ng-template>
    
      <ul>
        <li *ngFor="let day of formInfo.dates"> 
          {{ day.year }}-{{ day.month }}-{{ day.day }} </li>
      </ul>
      <small *ngIf="!formInfo.dates.length"> no tiene días disponibles </small>
      
      <button (click)="addDate(fromDate, toDate)"> Añadir fecha </button>
    </div>
  </div>
</div>



