<form>
  <h2> Login </h2>
  <label> Email </label>
  <input type="email" [(ngModel)]="formInfo.email" name="email"
     #myEmail="ngModel" email="true" required/>
  <p *ngIf="myEmail.errors && (myEmail.dirty || myEmail.touched)" class="error"
     [hidden]="myEmail.valid.errors"> Enter a valid email </p>
  <br>

  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"
     #myPass="ngModel" required/>
  <p *ngIf="myPass.errors && (myPass.dirty || myPass.touched)" class="error"
     [hidden]="!myPass.errors.required"> Password is required </p>
  <br>

  <button (click)="login()" [disabled]="myEmail.errors || myPass.errors"> Login </button>
</form>
